.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  background-image: url("/assets/home/background-home-mobile.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
