.header {
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linksList {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;
}
/* need active link state. padding and border bottom for underline */
