.content {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 5.5rem 1.5rem 3rem;
  height: 100vh;
  overflow: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dirIndex {
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.25;
  letter-spacing: 3px;
  margin-right: 1rem;
}

.intro {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 3px;
  color: #d0d6f9;
}

.image {
  object-fit: contain;
}

.imageContainer {
  position: relative;
  height: 222px;
}

.title {
  font-family: "Bellefair", serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.text {
  font-family: "Bellefair", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  color: #fff;
  opacity: 50%;
}

.navbarDestination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbarDots {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 100%;
  border: none;
  background-color: white;
  opacity: 17%;
}

.navbarDotsActive {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: white;
  opacity: 100%;
}

.hRule {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 0;
  color: #979797;
  opacity: 50%;
}

.bio {
  color: #d0d6f9;
  font-size: 15px;
}

@media (768px <= width <= 1439px) {
  .content {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
}

@media (1440px <= width) {
  .content {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
}
