.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 5.5rem 1.5rem 3rem;
  height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 3px;
  color: #d0d6f9;
}

.imageContainer {
  margin: 0 auto;
}

.title {
  font-family: "Bellefair", serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.text {
  font-family: "Bellefair", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  color: #d0d6f9;
}

.navbarDestination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbarDots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #979797;
}

.hRule {
  width: 100%;
  height: 1px;
  margin: 0;
  color: #383b4b;
}

.bio {
  color: #d0d6f9;
  font-size: 15px;
}

@media (768px <= width <= 1439px) {
  .content {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
}

@media (1440px <= width) {
  .content {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
}
