.content {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 5.5rem 1.5rem 3rem;
  height: 100vh;
  overflow: auto;
}

.blur {
  position: absolute;
  backdrop-filter: blur(1rem);
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  padding: 7.5rem 2.375rem 3rem;
  overflow: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dirIndex {
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.25;
  letter-spacing: 3px;
  margin-right: 1rem;
}

.intro {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 3px;
  color: #d0d6f9;
}

.image {
  object-fit: contain;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  height: 31vh;
}

.title {
  font-family: "Bellefair", serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.text {
  font-family: "Bellefair", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  color: #fff;
  opacity: 50%;
}

.navbarDestination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbarDots {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 100%;
  border: none;
  background-color: white;
  opacity: 17%;
}

.navbarDotsActive {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: white;
  opacity: 100%;
}

.hRule {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: -2rem 0 0 0;
  border: none;
  background-color: #979797;
  opacity: 50%;
}

.bio {
  color: #d0d6f9;
  font-size: 15px;
}

@media (768px <= width <= 1439px) {
  .content {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
    padding-top: 8.5rem;
    padding-bottom: 0;
  }
  .blur {
    padding-bottom: 0;
  }
  .textContainer {
    gap: 3.75rem;
  }
  .intro {
    font-size: 20px;
    text-align: left;
  }
  .imageContainer {
    order: 3;
    height: 52vh;
  }
  .navbarDestination {
    order: 2;
  }
  .btnNav {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .btnNavActive {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .infoContainer {
    order: 1;
    width: 520px;
    margin: auto;
    gap: 1.375rem;
    order: 0;
  }
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 40px;
  }
  .text2 {
    font-size: 16px;
    padding: 0;
  }
  .hRule {
    display: none;
  }
}

@media (1440px <= width) {
  .content {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
    overflow: hidden;
    text-align: left;
  }
  .blur {
    padding-left: 10.375rem;
    padding-bottom: 0;
    padding-top: 212px;
    overflow: hidden;
  }
  .textContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    overflow: hidden;
  }
  .intro {
    grid-area: 1/1/2/2;
    font-size: 28px;
  }
  .text {
    font-size: 2rem;
  }
  .title {
    font-size: 3.5rem;
    white-space: nowrap;
  }
  .bio {
    width: 444px;
    font-size: 18px;
    padding-top: 2rem;
  }
  .imageContainer {
    margin-top: 2.75rem;
    grid-area: 1/2/4/3;
    min-width: 454px;
    min-height: 607px;
  }
  .image {
    height: auto;
  }
  .hRule {
    display: none;
  }
  .navbarDestination {
    grid-area: 3/1/4/2;
  }
  .infoContainer {
    grid-area: 2/1/3/2;
    height: 342px;
  }
  .navbarDots,
  .navbarDotsActive {
    width: 15px;
    height: 15px;
  }
  .navbarDots:hover {
    opacity: 50%;
  }
  .navbarDestination {
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
